/* hide elements */
nav, header {
    display: none;
}

@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

/* format page for printing*/
body {
    color: black;
    background-color: white;
    background-image: none;
    font-size: 12pt;
    font-family: 'Times New Roman', serif;
    line-height: 120%;

}

/* format page for printing*/
a {
    text-decoration: underline;
    color: blue;
}

/* remove images from printed*/
img {
    display: none;
}